<div>
    <img src="<%= element.img %>" alt="">
    <h2><%= element.title %></h2>
    <h3><%= element.author %></h3>
    <p><%= element.description %></p>
    <p><%= book.isbn %></p>
    <p><%= book.bookshelf %></p>
    <button><a href="/book/<%= element.id %>">View Details</a></button>
</div>
